{
  "service": {
    "id": "vpn",
    "name": "pritunl",
    "checks": [
      {
        "http": "https://{{ansible_default_ipv4.address}}:8443",
        "tls_skip_verify" : true,
        "interval": "10s",
        "timeout": "1s"
      }
    ]
  }
}
